<div class="oj-hybrid-padding">
    <WeatherReport v-bind:source="source"></WeatherReport>
    <hr/>
    <br/><br/>
    <div class="oj-flex">
        <div class="oj-flex-item">
            <LocationSelection v-on:sourceChanged="sourceChanged"></LocationSelection>
        </div>
        <div class="oj-flex-item">
            <WeatherForecast v-bind:source="source" ></WeatherForecast>
        </div>
        <div class="oj-flex-item">
            <gmap-map style='width: 500px; height: 340px;'
               v-bind:map-type-id='mapTypeId'
               v-bind:center='center'
               v-bind:zoom='12'>
            </gmap-map>
        </div>
    </div>
</div>
