<div class="oj-hybrid-padding">
    <h3>Incidents Content Area</h3>
    <span class="oj-flex">
        <ojvchart type="bar" orientation="vertical" :series="stats"/>
        <ojvchart type="pie" orientation="vertical" :series="stats"/>
        <ojvchart type="line" orientation="vertical" :series="stats"/>
        <p>Series:</p>
        <ul>
            <li v-for="stat in stats">{{ stat.name }} / {{ stat.items }}</li>
        </ul>
    </span>
</div>
<!--https://www.sitepoint.com/fetching-data-third-party-api-vue-axios/
https://vuejs.org/v2/examples/select2.html
https://vuejs.org/v2/guide/components.html
https://forum.vuejs.org/t/making-jquery-ui-datepicker-works-with-vuejs/2752/10
-->
