<div class="oj-hybrid-padding">

    <span class="oj-flex">

        <span class="oj-flex-item">

            <h3>Chart</h3>
            <ojvchart type="bar" orientation="vertical" v-bind:series="stats"/>
            <br/><br/><br/><br/>

            <h3>Raw Data</h3>
            <ul>
                <li v-for="stat in stats">{{ stat.name }} --- {{ stat.items }}</li>
            </ul>

        </span>

        <span class="oj-flex-item">

            <h3>Gauge</h3>
            <ojvgauge
                v-bind:min=0
                v-bind:max=100
                v-bind:initial=value
                @changed="setValue"
                style="height:150px"/>
            <b>New value: {{value}}</b>

            <br/><br/><br/><br/>

            <h3>Date Picker</h3>
            <ojvdatepicker
                v-bind:initial="myDate"
                @changed="setDate">
            </ojvdatepicker>
            <b>Selected date: {{myDate}}</b>

        </span>

    </span>

</div>