<div class="oj-hybrid-padding">

    <span class="oj-flex">

        <span class="oj-flex-item">

            <h3>Chart</h3>
            <ojvchart type="bar" orientation="vertical" :series="stats"/>
            <br/><br/><br/><br/>

            <h3>Raw Data</h3>
            <ul>
                <li v-for="stat in stats">{{ stat.name }} --- {{ stat.items }}</li>
            </ul>

        </span>

        <span class="oj-flex-item">

            <h3>Gauge</h3>
            <ojvgauge
                :min=0
                :max=100
                :initial=value
                @changed="setValue"
                style="height:150px"/>
            <b>New value: {{value}}</b>

            <br/><br/><br/><br/>

            <h3>Date Picker</h3>
            <ojvdatepicker
                :initial="myDate"
                @changed="setDate">
            </ojvdatepicker>
            <b>Selected date: {{myDate}}</b>

        </span>

    </span>

</div>
<!--https://www.sitepoint.com/fetching-data-third-party-api-vue-axios/
https://vuejs.org/v2/examples/select2.html
https://vuejs.org/v2/guide/components.html
https://forum.vuejs.org/t/making-jquery-ui-datepicker-works-with-vuejs/2752/10
-->
